*{background-image: url("fundo-abstrato-escuro_1048-1920.avif");
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
font-family: "Poppins", sans-serif;
}body{
    font-family: "Poppins", sans-serif;
    background-image: url("WhatsApp Image 2026-06-12 at 19.13.53.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
header{
background-color: #413734;
color: #391c66;
width: 100%;
padding: 20px;
}
.cabecalho-itens{
max-width: 1980px;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: center;
}
.cabecalho_imagem{
    width: 90px;
    height: auto;
}
.titulo_site{
padding: 50px;
text-align: center;
width: 50%;
font: 30px;
}
.sociais{
display: flex;
justify-content: flex-end;
width: 25%;
padding-right: 30px;
}
.banner1{
display: flex;
justify-content: center;
}
.estudante_titulo{
padding: 50px;
text-align: center;

}
.estudante-nome{
text-align: center;
}
.estudante-imagem{
width: 150px;
height: auto;
}
.estudante-icone{
width: 38px;
padding: 4px 8px;
}
.estudante{
    background-color: #faae43;
}

.estudante.div{
text-align: center;
padding: 24px 0;
}
.estudantes_todos{
display: flex;
justify-content: space-around;
}
.escola-image{
    width: 60%;
    max-width: 800px;
    height: auto;
}
.escola-titulo{
padding: 50px;
text-align: center;
}
.logo_rodape{
height: 80px;
padding: 12px 0;


}

.link{
color: #FF9B51;
text-decoration: none;
}
