*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("Design sem nome.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

header{
background-color: #26394e;
color: #007979;
width: 100%;
padding: 80px;
}
.cabecalho-itens{
max-width: 1980px;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: center;
}
.cabecalho_imagem{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid gold;
}
.titulo_site{
    padding: 50px;
    text-align: center;
    width: 50%;
    font: 60px;
    color: rgba(255, 225, 0, 0.852);
}
.sociais{
display: flex;
justify-content: flex-end;
width: 25%;
padding-right: 30px;
}
.banner1{
display: flex;
justify-content: center;
}
.estudante_titulo{
    padding: 50px;
    text-align: center;
    color: gold;
}
.estudante-nome{
    text-align: center;
    color: #FFD700; /* dourado */
}
.estudante-imagem{
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid gold;
}
.estudante-icone{
width: 38px;
padding: 4px 8px;
}
.estudante{
    background-color: #19007e;
}

.estudante.div{
text-align: center;
padding: 24px 0;
justify-content: space-around;
}
.estudantes_todos{
display: flex;
justify-content: space-around;
}
.escola-image{
    width: 60%;
    max-width: 800px;
    height: auto;
}
.escola-titulo{
padding: 50px;
text-align: center;
}
.logo_rodape{
height: 80px;
padding: 12px 0;


}

.link{
color: #ffaa00;
text-decoration: none;
}.estudantes_todos{
    display: flex;
    justify-content: align-items;
    gap: 40px;
    flex-wrap: wrap;
}

.estudante-div{
    text-align: center;
}
body{
    color: rgb(255, 208, 0);
}
.escola{
    color: rgb(177, 177, 177);
}
.sobre{
    text-align: center;
    padding: 50px;
    color: white;
}

.sobre h2{
    color: gold;
    margin-bottom: 20px;
}

.sobre p{
    max-width: 800px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.6;
}